<ion-view title="Atragantamiento" id="page10">
    <ion-content padding="true" class="has-header">
        <div id="atragantamiento-markdown10" style="color:#000000;font-size:19px;text-align:center;">
            <p>NO DE GOLPES EN LA ESPALDA</p>
        </div>
        <div class="spacer" style="width: 300px; height: 186px;"></div>
        <a ui-sref="toser" id="atragantamiento-button22" class="button button-positive  button-block">PUEDE TOSER Y/O HABLAR</a>
        <a ui-sref="personaHeimlich" id="atragantamiento-button23" style="font-size:18px;" class="button button-dark  button-block">NO PUEDE TOSER Y/O HABLAR</a>
    </ion-content>
</ion-view>