<ion-view title="Atragantamiento Consciencia" id="page13">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 137px;"></div>
        <a ui-sref="personaCPR" id="atragantamientoConsciencia-button25" style="font-weight:600;font-size:21px;" class="button button-calm  button-block">NO TIENE CONSCIENCIA</a>
        <a ui-sref="personaHeimlich" id="atragantamientoConsciencia-button26" style="font-size:21px;" class="button button-dark  button-block">TIENE CONSCIENCIA</a>
    </ion-content>
</ion-view>