<ion-view title="Calor" id="page21">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/Tukla9SsQiqIZxGp4xuO_aguacalor.jpg" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="calor-list1">
            <ion-item class="positive" id="calor-list-item1">Lavar abundantemenete con agua</ion-item>
            <ion-item id="calor-list-item2">No retirar la ropa</ion-item>
            <ion-item class="positive" id="calor-list-item3">No tocar ni soplar en la herida</ion-item>
        </ion-list>
        <ion-list id="calor-list2">
            <ion-item id="calor-list-item4" class="Cubrir con paño/toalla húmeda">Cubrir con un paño/toalla húmeda</ion-item>
            <ion-item class="positive" id="calor-list-item5">No reventar ampollas</ion-item>
        </ion-list>
    </ion-content>
</ion-view>