<ion-view title="Electricidad" id="page24">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/7sMcyESqRiCNScIaIlNo_electricidad.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="electricidad-list3">
            <ion-item class="positive" id="electricidad-list-item7">Cerrar fuente eléctrica</ion-item>
            <ion-item id="electricidad-list-item8">No lavar con agua</ion-item>
            <ion-item class="positive" id="electricidad-list-item9">Cubrir con toalla/paño seco</ion-item>
        </ion-list>
        <ion-list id="electricidad-list4">
            <ion-item id="electricidad-list-item10" class="Cubrir con paño/toalla húmeda">Esperar emergencias</ion-item>
        </ion-list>
    </ion-content>
</ion-view>