<ion-view title="Heimlich Bebé" id="page19">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <div id="heimlichBeb-markdown13" style="color:#000000;font-size:24px;text-align:center;">
            <p>REALIZA LA MANIOBRA HASTA QUE SALGA</p>
        </div>
        <div id="heimlichBeb-markdown16" style="color:#000000;text-align:center;">
            <p>NOTA: ASEGURARTE DE SOSTENER LA CABEZA PARA QUE NO SE MUEVA CON EL IMPACTO</p>
        </div>
        <div>
            <img src="img/EQBFUmn2TbOnuCtTiJCp_heimlichbaby.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="pulso" id="heimlichBeb-button36" class="button button-positive  button-block">Salió el objeto</a>
        <a ui-sref="rCPBeb" id="heimlichBeb-button31" class="button button-assertive button-large button-block">INCONSCIENTE</a>
    </ion-content>
</ion-view>