<ion-view title="Heimlich Adulto" id="page16">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 59px;"></div>
        <div id="heimlichAdulto-markdown12" style="color:#000000;font-size:24px;text-align:center;">
            <p>REALIZA LA MANIOBRA HASTA QUE SALGA</p>
        </div>
        <div>
            <img src="img/3vvWqpSQ5yOBXGz8iHOC_heimlich.gif" width="63%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="pulso" id="heimlichAdulto-button35" class="button button-positive  button-block">Salió el objeto</a>
        <a ui-sref="rCPAdulto" id="heimlichAdulto-button30" class="button button-assertive button-large button-block">INCONSCIENTE</a>
    </ion-content>
</ion-view>