<ion-view title="Hemorragia" id="page26">
    <ion-content padding="true" class="has-header">
        <div class="item item-body" id="hemorragia-list-item-container1">
            <div>
                <img src="img/EdimT2bJQMiMyr6UlbJq_hemorragia.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div id="hemorragia-markdown17" style="margin-top:0px;color:#000000;">
                <p>Realizar presión directa con una gaza/pañuelo/toalla limpia</p>
            </div>
        </div>
        <div class="item item-body" id="hemorragia-list-item-container2">
            <div id="hemorragia-markdown18" style="margin-top:0px;color:#000000;">
                <p>Utilizar una arriba de otra en caso necesario</p>
            </div>
        </div>
        <div class="item item-body" id="hemorragia-list-item-container3">
            <div id="hemorragia-markdown19" style="margin-top:0px;color:#000000;">
                <p>De ser una extremidad corporal levantarla por encima del corazón sin dejar la presión directa</p>
            </div>
        </div>
        <div class="item item-body" id="hemorragia-list-item-container4">
            <div id="hemorragia-markdown20" style="margin-top:0px;color:#000000;">
                <p>Presionar la arteria más cercana en caso de que el sangrado continúe</p>
            </div>
        </div>
    </ion-content>
</ion-view>