<ion-view title="Inicio" id="page1">
    <ion-content padding="true" class="has-header">
        <div id="inicio-markdown2" style="color:#BB3E3E;text-align:center;">
            <p>Llama al
                <strong>066</strong>
            </p>

            <p>Revisa que la zona es
                <strong>segura</strong>
            </p>
        </div>
        <div id="inicio-markdown21" style="color:#000000;font-size:17px;text-align:center;">
            <p>La persona está/sufre de:</p>
        </div>
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <a ui-sref="pulso" id="inicio-button3" class="button button-positive  button-block">Inconsciente</a>
        <a ui-sref="atragantamiento" id="inicio-button4" class="button button-dark  button-block">Atragantamiento</a>
        <a ui-sref="quemadura" id="inicio-button5" class="button button-positive  button-block">Quemadura</a>
        <a ui-sref="hemorragia" id="inicio-button6" class="button button-dark  button-block">Herida/Hemorragia</a>
        <a ui-sref="fractura" id="inicio-button7" class="button button-positive  button-block">Fractura</a>
        <div class="spacer" style="width: 300px; height: 75px;"></div>
    </ion-content>
</ion-view>