<ion-view title="Persona CPR" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div id="personaCPR-markdown24" style="color:#000000;font-size:17px;">
            <p>Pedir un desfibrilador a emergencias al momento de llamar.</p>
        </div>
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <a ui-sref="rCPBeb" id="personaCPR-button11" class="button button-calm  button-block">Bebé</a>
        <a ui-sref="rCPAdulto" id="personaCPR-button12" class="button button-dark  button-block">Niño</a>
        <a ui-sref="rCPAdulto" id="personaCPR-button13" class="button button-assertive  button-block">Adulto</a>
    </ion-content>
</ion-view>