<ion-view title="Persona Heimlich" id="page15">
    <ion-content padding="true" class="has-header">
        <div id="personaHeimlich-markdown11" style="color:#000000;font-size:18px;text-align:center;">
            <p>NOTA: CON LOS NIÑOS TE PONES A SU ALTURA ANTES DE HACER LA MANIOBRA</p>
        </div>
        <div class="spacer" style="width: 300px; height: 126px;"></div>
        <div id="personaHeimlich-markdown25" style="color:#000000;font-size:16px;text-align:center;">
            <p>Pedir un desfibrilador a emergencias al momento de llamar.</p>
        </div>
        <a ui-sref="heimlichBeb" id="personaHeimlich-button27" class="button button-calm  button-block">Bebé</a>
        <a ui-sref="heimlichAdulto" id="personaHeimlich-button29" class="button button-dark  button-block">Niño/Adulto</a>
    </ion-content>
</ion-view>