<ion-view title="Quemadura" id="page20">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="calor" id="quemadura-button32" class="button button-assertive  button-block">Calor</a>
        <a ui-sref="electricidad" id="quemadura-button33" class="button button-dark  button-block">Electricidad</a>
        <a ui-sref="quMica" id="quemadura-button34" class="button button-calm  button-block">Química</a>
    </ion-content>
</ion-view>