<ion-view title="Química" id="page25">
    <ion-content padding="true" class="has-header">
        <ion-list id="quMica-list5">
            <ion-item id="quMica-list-item11">Deshacerse la ropa</ion-item>
            <ion-item id="quMica-list-item12">En 1 minuto llegar a lavarse</ion-item>
        </ion-list>
        <div>
            <img src="img/VBlbRYhIREethNwrwyd5_quimico.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 53px;"></div>
        <div id="quMica-markdown14" style="color:#B32525;font-size:19px;text-align:center;">
            <p>De ser posible mojar al herido o llevar a regadera de laboratorio.</p>

            <p>Esperar a emergencias.</p>
        </div>
    </ion-content>
</ion-view>