<ion-view title="RCP Adulto Parte 2" id="page7">
    <ion-content padding="true" class="has-header">
        <div id="rCPAdultoParte2-markdown6" style="color:#000000;font-size:23px;text-align:center;">
            <p>Da 2 suflaciones a la victima</p>
        </div>
        <div>
            <img src="img/Nuu2XaAQWWqYMsnFem9O_breathe.gif" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="rCPAdulto" id="rCPAdultoParte2-button15" class="button button-positive  button-block">Continuar</a>
        <a ui-sref="inicio" id="rCPAdultoParte2-button16" class="button button-assertive  button-block">¡Hay pulso!</a>
    </ion-content>
</ion-view>