<ion-view title="RCP Adulto" id="page5">
    <ion-content padding="true" class="has-header">
        <div id="rCPAdulto-markdown5" style="color:#000000;font-size:23px;text-align:center;">
            <p>Inicia con 30 compresiones</p>
        </div>
        <div>
            <img src="img/Pmw1AgInR7WqDkz16HvR_cpr.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="rCPAdultoParte2" id="rCPAdulto-button14" class="button button-positive  button-block">Continuar</a>
        <a ui-sref="reposo" id="rCPAdulto-button17" class="button button-assertive  button-block">¡Hay pulso!</a>
    </ion-content>
</ion-view>