<ion-view title="RCP Bebé" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="rCPBeb-markdown7" style="color:#000000;font-size:23px;text-align:center;">
            <p>Inicia con 30 compresiones</p>
        </div>
        <div>
            <img src="img/SQeKRnaRZuZMUJr92Eaj_cprbaby.gif" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="rCPBebParte2" id="rCPBeb-button18" class="button button-positive  button-block">Continuar</a>
        <a ui-sref="inicio" id="rCPBeb-button19" class="button button-assertive  button-block">¡Hay pulso!</a>
    </ion-content>
</ion-view>