<ion-view title="Reposo" id="page14">
    <ion-content padding="true" class="has-header">
        <div id="reposo-markdown22" style="color:#000000;">
            <p>Acomode a la victima de la siguiente manera de modo que al jalar la rodilla y codo flexionado hacia usted,</p>
        </div>
        <div>
            <img src="img/h43eCfrJTKqAvMsqw8cC_reposo.gif" width="82%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="reposo-markdown23" style="color:#000000;">
            <p>quede de la siguiente forma:</p>
        </div>
        <div>
            <img src="img/TObsEWOnSEuRyTaA2PqF_reposado.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="pulso" id="reposo-button37" class="button button-assertive  button-block">CHECAR PULSO CONSTANTEMENTE</a>
    </ion-content>
</ion-view>