<ion-view title="Toser" id="page12">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div id="toser-markdown9" style="color:#B63737;font-size:21px;text-align:center;">
            <p>Anime a toser hasta que expulse el objeto</p>

            <p>NO DE GOLPES EN LA ESPALDA</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="personaHeimlich" id="toser-button28" class="button button-positive  button-block">NO PUEDE TOSER Y/O HABLAR</a>
        <a ui-sref="personaCPR" id="toser-button24" style="font-size:17px;" class="button button-assertive  button-block">Perdió la consciencia</a>
    </ion-content>
</ion-view>